<div class="container d-flex flex-column justify-content-center">
    <button class="btn services">
        <h4>Lista de Serviços</h4>
    </button>
    <button class="btn location d-flex flex-row justify-content-center align-items-center" href="https://maps.app.goo.gl/S3jL1bDA18aAzB5h6">
        <i class="fa-solid fa-location-dot"></i>
       
        <h4>Localização</h4>
       
        
    </button>
    <button class="btn whatsapp d-flex flex-row justify-content-center align-items-center" href="https://api.whatsapp.com/send?phone=+5584991765513&text=Ol%C3%A1!%20Gostaria%20de%20agendar%20um%20servi%C3%A7o!">
        <i class="fa-brands fa-whatsapp"></i>
        <h4>Mande uma mensagem no whatsapp!</h4>
    </button>
</div>
